<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="keywords" content="howa, space">
        <meta name="author" content="howa.space, SRN: 200212427 of the University of London">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/myStyle.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <script src="{{ url_for('static', filename='script/m_view.js') }}" defer></script> 
        <script src="{{ url_for('static', filename='script/view_page.js') }}" defer></script>     
        <title>About - Financial Assistant - Financial Advisor Chatbot</title>
    </head>
    <body>
        <header>
            <nav>
                <div id="menu_button">
                    Menu
                </div>
                <div id="menu">
                    <a href="/" aria-label="Home">🏠Home</a>
                        <!-- 
                                <p>
                                    <span class="small" id="smallA">A</span>
                                    <span class="medium" id="mediumA"> A </span>
                                    <span class="large" id="largeA">A</span>
                                </p>

                            Title: 7.3.5 What can we do with these elements when we have them, the lecture video of week 14 of CM1040 Web Development
                            Author: The writer of the CM1040 module
                            Date: 23 January 2022
                            Code version: N/A
                            Availability: the Coursera learning platform (https://www.coursera.org/learn/uol-web-development/lecture/SJumr/7-3-5-what-can-we-do-with-these-elements-when-we-have-them)
                                
                        -->
                    <!-- Three As for changing font size -->
                    <div id="fontSize">
                        <span class="smallFont" id="smallA">A</span>
                        <span class="mediumFont" id="mediumA">A</span>
                        <span class="largeFont" id="largeA">A</span>
                    </div>
                </div>
            </nav>
            <!-- Scroll bar -->
            <div id="scrollBar"></div>
        </header>
        <div id="grid-container">
            <main>
                <h1>About Financial Advisor Chatbot</h1>
                <p>
                    This website was the final prototype of CM3070 Final Project prepared and submitted by Student 200212427.
                </p>
                <p>
                    The website is <b>for academic grading only</b>.
                </p>
                <p>
                    We, the author and the website, are not responsible for the responses from the chatbot for any other purposes.
                </p>
                <p>
                    The large language model (LLM) was under 
                    <a href="/apache_license">
                        Apache License Version 2.0
                    </a>.
                </p>
                <p>
                    For any feedback to the project or the website, please leave a message 
                    <a href="https://howa.space" aria-label="your feedback here">
                        HERE
                    </a>.
                </p>
                <!-- 
                        <a href="#top" aria-label="back to top">
                        <img
                            src="assets/images/backToTop.jpg"
                            alt="Back to top"
                            id="backToTop"
                        /></a>

                    Title: CM1040 Web Development, Coursework 2
                    Author: The author of this project (Anonoymous submission of assignment)
                    Date: March 2022
                    Code version: N/A
                    Availability: Submitted Assignment (Not published)

                    The code of "back to top button" below was adapted from the coursework 2 of CM1040 Web Development submitted by the author of this project.
                -->
                <!-- back to top button -->
                <a href="#top" aria-label="scroll to the top">
                    <img
                        src="{{ url_for('static', filename='img/backToTop.jpg') }}"
                        alt="scroll to the top"
                        id="bottom_to_top"
                    />
                </a>
            </main>
        </div>
        <footer>
            <div>
                <a href="/about">About</a>
            </div>
            <div id="copyright">
                <p>© 2026 SRN 200212427</p>
            </div>
        </footer>
    </body>

</html>
